<!-- 작성자: 이은총 -->
<!-- 비고: 메인화면 -->
<!-- #는 추후에 기입해야 될 부분입니다. -->

<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>#</title>
        <!-- <link rel="stylesheet" href="../css/nav_var.css"> -->
        <link rel="stylesheet" href="{% static 'css/nav_var.css' %}">
        <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    </head>
    <body>
      <!-- 네비게이션 바 -->
        <div class="intro">
            <nav>
                <div class="logo">
                    <a href="#">로고</a>
                </div>
                <ul class="category">
                    <li><a href="#">알바</a></li>
                    <li><a href="#">미용</a></li>
                </ul>
                <ul class="login_signup">
                    {% if user_id != None%}
                        <li>{{user_id}}</li>
                    {% else %}
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </body>
</html>