{% extends 'board/base.html' %}
{% block title %}수정{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="writer" value="{{board.writer}}">
<table border="1">
    <tr>
        <th>Title</th>
        <td>
            <input type="text" name="title" value="{{board.title}}" required>
        </td>
    </tr>
    <tr>
        <th>Writer</th>
        <td>
            <input type="text" name="writer" value="{{board.writer}}" disabled>
        </td>
    </tr>
    <tr>
        <th>Content</th>
        <td>
            <textarea name="content">{{board.content}}</textarea>
        </td>
    </tr>
    <tr>
        <th>Startdate</th>
        <td>
            <label for="datetime">기존 날짜: "{{board.startdate}}"
            <input type="datetime-local" name="startdate" value="{{board.startdate}}" required>
            </label>
        </td>
    </tr>
    <tr>
        <th>Enddate</th>
        <td>
            <label for="datetime">기존 날짜: "{{board.enddate}}"
            <input type="datetime-local" name="enddate" value="{{board.enddate}}" required>
            </label>
        </td>
    </tr>
    <tr>
        <th>Payment</th>
        <td>
            <input type="text" name="payment" value="{{board.payment}}" required>
        </td>
    </tr>
    <tr>
        <th>Address</th>
        <td>
        <input type="text" name ="zonecode" value="{{board.zonecode}}" id="zonecode"/>
          <button  id="search-btn">
            우편번호 찾기
          </button>
          <input type="text" name ="roadAddress" value="{{board.roadAddress}}" id="roadAddress"/>
          <input type="text" name ="roadAddressDetail" value="{{board.roadAddressDetail}}"
          id="roadAddressDetail" required/>
        </td>
    </tr>
</table>
<button type="submit">수정</button>
</form>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    const elZonecode = document.querySelector("#zonecode");
    const elRoadAddress = document.querySelector("#roadAddress");
    const elResults = document.querySelectorAll(".el_result");
   
    const onClickSearch = () => {
      console.log(1);
      new daum.Postcode({
        oncomplete: function (data) {
          
          console.log(data);
          elZonecode.setAttribute("value", data.zonecode);
          elRoadAddress.setAttribute("value", data.roadAddress);
          
        },
      }).open();
    };
    const register = () => {
      console.log(`우편번호: ${elZonecode.getAttribute("value")}`);
      console.log(`주소: ${elRoadAddress.getAttribute("value")}`);
      elResults[0].innerHTML = elZonecode.getAttribute("value");
      elResults[1].innerHTML = elRoadAddress.getAttribute("value");
    };
    
    document.querySelector("#search-btn").addEventListener("click", () => {
      onClickSearch();
    });
    
  </script>

{% endblock %}