/*
#nav{
    width: 30%;
    background-color: gainsboro;
}
*/

/*
#content{
    width: 70%;
}
*/

.row_signup{
    font-family: 'NanumSquareNeo';
    margin-top: 100px;
}

.signup_title{
    margin: 45px auto;
}

.signup_title h2{
    text-align: center;
}

.signup_input{
    margin: 20px auto;
    width: 400px;
}

.signup_input .signup_list{
    margin: 10px auto;
}

.signup_input input[type="text"],
.signup_input input[type="password"],
.signup_input input[type="tel"],
.signup_input input[type="email"]{
    width: 400px;
    height: 35.2px;
}

.signup_submit_btn{
    text-align: center;
    padding: 25px 20px;
}

.signup_submit_btn button{
    font-size: 16px;
    width: 180px;
    height: 50px;
    border-style: none;
    cursor: pointer;
    font-family: 'NanumSquareNeoBold';
}
