{% extends 'board/base.html' %}
{% block title %}내용{% endblock %}
{% block content %}



<div class="read-area">
    <div class="read-inner-area">
        <div class="read-title-area">
            <div class="read-categoty">
                <p>카테고리:&nbsp;&nbsp;{{board.type}}</p>
            </div>
            <div class="read-title">
                <h1>{{board.title}}</h1> <!-- 제목 -->
            </div>
            <div class="read-title-details">
                <div class="read-regdate">
                    <p>등록일:&nbsp;&nbsp;{{board.regdate}}</p>
                </div>
                <div class="read-readcount">
                    <p>조회수:&nbsp;&nbsp;{{board.readcount}}</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="read-img">
            {% if board.imgfile %}
            <img src="{{ board.imgfile.url }}" width="300">   
            {% endif %}
        </div>
        <div class="read-content">
            <table border="1">
                <tr>
                    <th>‣&nbsp;&nbsp;작성자</th>
                    <td>{{board.writer}}</td>
                </tr> 
                <tr>
                    <th>‣&nbsp;&nbsp;내용</th>
                    <td>{{board.content}}</td>
                </tr>
                <tr>
                    <th>‣&nbsp;&nbsp;근무시작</th>
                    <td>{{board.startdate}}</td>
                </tr>
                <tr>
                    <th>‣&nbsp;&nbsp;근무종료</th>
                    <td>{{board.enddate}}</td>
                </tr>
                <tr>
                    <th>‣&nbsp;&nbsp;급여</th>
                    <td>{{board.payment}}</td>
                </tr>
                <tr>
                    <th>‣&nbsp;&nbsp;우편번호</th>
                    <td>{{board.zonecode}}</td>
                </tr>
                <tr>
                    <th>‣&nbsp;&nbsp;주소</th>
                    <td>{{board.roadAddress}}</td>
                </tr>
                <tr>
                    <th>‣&nbsp;&nbsp;상세주소</th>
                    <td>{{board.roadAddressDetail}}</td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="read-option">
            <div class="leftside-option">
                <div class="list-button">
                    <a href="{% url 'board:list' %}"><button><i class="fa-solid fa-list"></i>&nbsp;&nbsp;목록</button></a>
                </div>
            </div>
            <div class="rightside-option">
                <div class="edit-button">
                    <a href="{% url 'board:edit' board.id %}"><button><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;수정</button></a>
                </div>
                <div class="delete-button">
                    <a href="{% url 'board:remove' board.id %}"><button><i class="fa-solid fa-trash-can"></i>&nbsp;&nbsp;삭제</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}