{% extends 'board/base.html' %}
{% block title %}삭제{% endblock %}
{% block content %}
<div class="delete-area">
    <div class="delete-inner-area">
        <form method="post" class="delete-content">
            {% csrf_token %}
            <div class="delete-content-phrase">
                <p>삭제된 글은 복구할 수 없습니다.</p>
                <p>삭제하시겠습니까?</p>
            </div>
            <div class="delete-content-btn">
                <button class="delete-cancel" onclick="history.back()">취소</button>
                <button type="submit" class="delete-confirm">확인</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}