<!-- 작성자: 이은총 -->
<!-- 비고: 회원가입 -->
<!-- #는 추후에 기입해야 될 부분입니다. -->

<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>#</title>
        <!-- <link rel="stylesheet" href="../css/nav_var.css">
        <link rel="stylesheet" href="../css/login.css"> -->
        <link rel="stylesheet" href="{% static 'css/nav_var.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">

        <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    </head>
    <body>
        <div class="intro">
            <nav>
                <div class="logo">
                    <a href="#">로고</a>
                </div>
                <ul class="category">
                    <li><a href="#">알바</a></li>
                    <li><a href="#">미용</a></li>
                </ul>
                <ul class="login_signup">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </nav>
        </div>
        <div id="wrapper">
            <!--
            <div id="nav">
                <ul class="nav_vertical">
                    <li><a href="#">알바</a></li>
                    <li><a href="#">미용</a></li>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>
            -->
            <div class="row_login">
                <div class="login_title">
                    <h2>로그인</h2>
                </div>
                <form action="" method="POST" name="LOGIN_INFO" class="login_deco">
                  {% csrf_token %}
                    <!-- 아이디 입력 -->
                    <div class="login_input">
                        <h4 class="login_list">·&nbsp;&nbsp;&nbsp;아이디</h4>
                        <span class="login_input_int"><input type="text" name="ID_LOGIN" class="#" id="#" maxlength="20" required></span>
                    </div>
                  <!-- 비밀번호 입력 -->
                    <div class="login_input">
                        <h4 class="login_list">·&nbsp;&nbsp;&nbsp;비밀번호</h4>
                        <span class="login_input_int"><input type="password" name="PW_LOGIN" class="#" id="#" maxlength="20" required></span>
                    </div>
                  <!-- 제출 버튼 -->
                    <div class="login_submit_btn">
                        <button type="submit" name="SUBMIT_LOGIN" class="#" id="#">로그인</button>
                    </div>
                </form>
            </div>

            <div>
                {% for message in messages%}
                    <h4>{{message}}</h4>
                {% endfor %}
            </div>

        </div>
    </body>
</html>