<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function execDaumPostcode(){
            new daum.Postcode({
                oncomplete: function(data) {
                var addr = '';
                var extraAddr ='';

                if(data.userSelectedType === 'R'){
                    addr=data.roadAddress;
                }
                else{
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr+=(extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = '('+extraAddr+')';
                    }

                    document.getElementById("extraAddress").value=extraAddr;
                }   

                else{
                    document.getElementById("extraAddress").value='';
                }

                document.getElementById('postcode').value=data.zonecode;
                document.getElementById("address").value=addr;
                document.getElementById("detailAddress").focus();
            }
            }).open();
        }
        
    </script>
</head>
<body>
    <h1>Edit Store</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <th>Store Name</th>
                <td><input type="text" name="STORE_NAME" value="{{ store.store_name }}"></td>
            </tr>
            <tr>
                <th>Owner</th>
                <td><input type="text" name="STORE_OWNER" value="{{ store.store_owner }}"></td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td><input type="text" name="TEL_NUM" value="{{ store.tel_num }}"></td>
            </tr>
            <tr>
                <th>Anesthesia</th>
                <td><input type="text" name="anesthesia" value="{{ store.anesthesia }}"></td>
            </tr>
            <tr>
                <th>Location</th>
                <td>
                    <input type="text" id="POSTCODE" placeholder="우편번호"><br>
                        <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" id="ADDRESS" placeholder="주소"><br>
                        <input type="text" id="DETAIL_ADDRESS" placeholder="상세주소"><br>
                        <input type="text" id="EXTRA_ADDRESS" placeholder="참고항목">
                </td>
            </tr>
            <tr>
                <th>Open Time</th>
                <td>
                    가게 여는 시간 선택:
                    <input type="time" name="OPENING_TIME" value="{{ store.opentime }}" required>
                </td>
            </tr>
            <tr>
                <th>Close Time</th>
                <td>
                    가게 닫는 시간 선택:
                    <input type="time" name="CLOSING_TIME" value="{{ store.closetime }}" required>
                </td>
            </tr>
            <tr>
                <th>Store Image</th>
                <td><input type="file" name="STORE_IMAGE"></td>
            </tr>
            <tr>
                <th>Qualifications</th>
                <td><input type="text" name="qualifications" value="{{ store.qualifications }}"></td>
            </tr>
        </table>
        <button type="submit">수정</button>
    </form>
</body>
</html>